.container {
  background-color: purple;
}

.accordion {
  background-color: white;
  width: 57.5rem;
  height: 57.75rem;
}

.card__header {
  display: flex;
}

.card__question {
  font-weight: 700;
}
