.slider {
  position: relative;
  background-color: #f1f5f8;
  height: 100%;
}

.header {
  text-align: center;
  padding-top: 5.625rem;
  margin-bottom: 4.375rem;
  letter-spacing: 2px;
}

.slideContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 50rem;
  max-width: 90vw;
  overflow: hidden;
  margin: 0 auto;
}

.slideButton {
  position: absolute;
  max-height: 5vw;
  max-width: 5vw;
  height: 2.5rem;
  width: 2.5rem;
  top: 50%;
  outline: none;
}

.slideButtonLeft {
  left: 0;
}

.slideButtonRight {
  left: calc(100% - 2.5rem);
}

.quotationMark {
  height: 3rem;
  width: 3rem;
  text-align: center;
  margin: 0 auto;
}

.slide,
.leftSlide,
.rightSlide {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 3.75rem;
  position: relative;
  text-align: center;
  opacity: 1;
}

.slide__img,
.leftSlide__img,
.rightSlide__img {
  border: 0.25rem solid #bcccdc;
  margin-bottom: 2rem;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  height: 9.375rem;
  width: 9.375rem;
  object-fit: cover;
}

.slide__name,
.leftSlide__name,
.rightSlide__name {
  color: #ba5d2c;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
  letter-spacing: 2px;
}

.slide__job,
.leftSlide__job,
.rightSlide__job {
  color: #324d67;
  text-transform: capitalize;
  margin-bottom: 0.75rem;
}

.slide__text,
.leftSlide__text,
.rightSlide__text {
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #617d98;
}

.leftSlide {
  opacity: 0;
  position: absolute;
  transform: translate(-100%);
}

.rightSlide {
  position: absolute;
  opacity: 0;
  transform: translate(100%);
}

@keyframes slideRight {
  100% {
    transform: translate(100%);
    opacity: 0;
  }
}

.slideRight {
  animation: slideRight 0.5s ease-in-out forwards;
}

@keyframes slideLeft {
  100% {
    transform: translate(-100%);
    opacity: 0;
  }
}

.slideLeft {
  animation: slideLeft 0.5s ease-in-out forwards;
}

@keyframes slideMid {
  100% {
    transform: translate(0%);
    opacity: 1;
  }
}

.slideMid {
  animation: slideMid 0.5s ease-in-out forwards;
}

@media only screen and (max-width: 500px) {
  .header {
    padding-top: 3rem;
    margin-bottom: 2rem;
  }
  .slide,
  .leftSlide,
  .rightSlide {
    padding: 0 1rem;
  }
}
